
<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>

<div class="body-main">
<div class="main-container">
<div class="con-text">
    <h6 class="main-text">Grand tour through beautiful Kazakhstan</h6>
    <p class="main-text-small">See the beauty of nature in Kazakhstan with GoTour</p>
    <div class="main-text-line"></div>
    <a routerLink="../request/" class="req-link"><div class="req-button">
      <p>Leave a request</p>
    </div></a>
</div>
</div>
<div class="main-container main-ltext">
<h6 class="text-anim">Your adventure begins with us</h6>
</div>
</div>
<div class="low-container">
    <app-footer></app-footer>
    <div class="con-images">
        <div class="images image1"></div>
        <div class="images image2"></div>
        <div class="images image3"></div>
    </div>

</div>




  </div>
</div>
</div>