<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="rev-main">
<div class="rev-con">
  <div class="rev-con-text">
    <h6>Apply now and visit the beautiful places of Kazakhstan</h6>
    <p>Kazakhstan is a land of breathtaking natural beauty, rich cultural heritage and unique experiences. From the towering peaks of the Tien Shan Mountains to the rolling steppes and deserts, the country offers a diverse range of attractions for tourists.
    </p>
  </div>
</div>
<div class="rev-con rev-con2">
  <div class="rev-form">
    <div class="rev-form1">
      
      <form class="rev-form2"><input type="number" class="input-to" placeholder="Phone number">
      <input type="email"  class="input-to" placeholder="Email">
      <select class="input-to">
        <option>Not Selected</option>
        <option>Ustirt</option>
        <option>Borovoe</option>
        <option>Kolsay Lake</option>
        <option>Charyn Canyon</option>
        <option>Barkhan sands</option>
      </select>
      <button class="rev-form-button">Send</button>
    </form>
    </div>

  </div>
</div>
</div>
<app-footer></app-footer>
</div>
</div>
</div>
