<div class="con-low">
    <div class="con-icons">
        <div class="icon"> <p class="icons-text">We're on social media</p></div>
        <div class="icons">
            <a><img src="../../assets/images/icons/Facebook - Negative.png" width="20" height="20"></a>
            <a><img src="../../assets/images/icons/Instagram - Negative.png" width="20" height="20"></a>
            <a><img src="../../assets/images/icons/TikTok - Negative.png" width="20" height="20"></a>
            <a><img src="../../assets/images/icons/YouTube - Negative.png" width="20" height="20"></a>
        </div>
    </div>
</div>