<div class="main">
    <div class="main-body">
  <div class="main-back">
    <app-header></app-header>
<div class="log-body">

<div class="form">
<form [formGroup]="formGroup" (ngSubmit)="loginProces()">
  <div class="form-auth form-con">
      <h6>Authorization</h6>
  </div>
  <div class="form-log form1  form-con">

      <label>Email</label>
      <input type="email" formControlName="username">
  </div>
  <div class="form-pass form1  form-con">
      <label>Password</label>
      <input type="password" formControlName="password">
  </div>
  <div class="form-button form1  form-con">
      <button class="button-con" type="submit">Submit</button>
  </div>
  <div class="form-con forget">
      <a>Forget password?</a>
  </div>

</form>
</div>

</div>
<app-footer></app-footer>
</div>
</div>
</div>
