
<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="main-con">
    <a routerLink="../destinations/4">
    <div class="dest-images dest1">
        <div>
            <p>Kolsay Lake</p>
        </div>
    </div>
</a>
    <a routerLink="../destinations/5">
    <div class="dest-images dest2">
        <div><p>Ustirt</p></div>
    </div>
    </a>
    <a routerLink="../destinations/6">
    <div class="dest-images dest3">
        <div><p>Charyn Canyon</p></div>
    </div>
    </a>
    <a routerLink="../destinations/7">
    <div class="dest-images dest4">
        <div><p>Borovoe</p></div>
    </div>
</a>
<a routerLink="../destinations/8">
<div class="dest-images dest5">
        <div><p>Barkhan Sands</p></div>
    </div>
</a>
</div>

</div>
<app-footer></app-footer>
  </div>
</div>
