.main{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-body{
    height: 100%;
    width: 100%;
}
.main-back{
   background: url(../../assets/images/6.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;

}

.reve-main{
    width: 96%;
    margin: 2%;
    height: 65%;
    display: flex;
    flex-direction: row;


}
.reve-review{
    width: 400px;
    padding: 50px;
}
.reve-review h6{

    color: white;
    font-size: 50px;
    max-width: 400px;
    font-weight: 200;
    margin: 0;
    font-family: "Asar";
}
.reve-review h3{
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    margin-top: 30px;
    font-family: "Asar";
}
.reve-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.review1{
    display: flex;
    flex-direction: column;
    background-color:cornflowerblue;
    justify-content: center;
    max-height: 100px;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
}
.review2{
    max-width: 220px;
    border-radius: 20px;
    padding: 10px;
}
.review1 p {
    margin: 0;
}
.review3{
    font-size: 18px;
    display: flex;
    justify-content: center;
    max-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.dff-text{
    overflow-wrap: break-word;
}
.form-reve{
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-reve fieldset{
    width: 300px;
    margin-left: 25px;
    height: 400px;
    display: block;
  border: none;
}
.form-reve fieldset div{
    margin-top: 30px;
    width: 270px;
    height: 50px;
    border-radius: 30px;
    border: 1px white solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-reve fieldset button{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color:cornflowerblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.form-reve fieldset button:hover{
    background-color: lightblue;

}
.form-reve fieldset div input{

    border: 1px white solid;
    font-size: 20px;
    outline: 0;
    outline-offset: 0;
}
