<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="reve-main">
    <div class="reve-review">
        <h6>Reviews</h6>
        <div class="form-reve">
        
        <h3>You can leave a review</h3>
        <form>
            <div><input type="text" placeholder="Name"></div>
            <div><input type="text" placeholder="Your review"> </div>
            <button>Submit</button>

        </form>
    </div>

    </div>
    <div class="reve-list">
        <div *ngFor="let review of reviewsList" class="review1">
            <div class="review2">
                <p *ngIf="review.text" class="dff-text">
                    {{ review.text }}
                </p>
                <div class="review3">
                    <p *ngIf="review.name" class="dff">
                    {{ review.name }}
                  </p>
                </div>
              

              
              
            </div>
          
        
        </div>
    </div>
</div>









<app-footer></app-footer>
    </div>
    </div>
    </div>