<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="reve-main">
    <div class="reve-review">
        <h6>Reviews</h6>
        <div class="form-reve">

        <h3>You can leave a review</h3>
        <fieldset>
            <div><input type="text" placeholder="Name" [(ngModel)]="newName"></div>
            <div><input type="text" placeholder="Your review" [(ngModel)]="newText"> </div>
            <button (click)="createReview()">Submit</button>

        </fieldset>
    </div>

    </div>
    <div class="reve-list">
        <div *ngFor="let rev of reviews" class="review1">
            <div class="review2">
                <p class="dff-text">
                    {{ rev.text }}
                </p>
            </div>


        </div>
    </div>
</div>









<app-footer></app-footer>
    </div>
    </div>
    </div>
