.main{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-body{
    height: 100%;
    width: 100%;
}
.main-back{
   background-color:cadetblue;
  height: 100%;

}
.dest-main{
  margin: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dest-main div{
  width: 500;
  display: flex;
  justify-content: center;
}

.dest-main div h6{
  margin: 0;
  margin-top: 10px;
  font-size: 40px;
  color: white;
  font-family: Asar;

}
