
<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="about-body">

<div class="about-con">
<h6 class="about-text">About our company</h6>
</div>
<div class="about-con">

<div class="about-con-text">
    <p>Welcome to our touristic agency in Kazakhstan! We are a team of passionate travel experts dedicated to providing our guests with the ultimate Kazakhstan experience.</p>
    <p>Our love for this beautiful country and its rich history, culture, and natural beauty drives us to create customized and memorable tours for our clients. With years of experience in the travel industry, we have gained a deep understanding of what visitors to Kazakhstan want and need.</p>
    <p>Whether you're traveling solo, with family, or with friends, we are here to help you create the trip of a lifetime. Join us and discover the beauty of Kazakhstan!</p>
</div>
<div class="about-con-img">
<img src="../../assets/images/crash/alta.jpeg" height="260" class="crash">
</div>
</div>


</div>

<app-footer></app-footer>
  </div>
</div>
</div>