<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>

<div class="contact-main">
    <div class="map"> <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/162/almaty/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Алматы</a><a href="https://yandex.kz/maps/162/almaty/house/Y08YfwNjSE0EQFppfX50dHlqYg==/?ll=76.944224%2C43.255316&utm_medium=mapframe&utm_source=maps&z=16.52" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Толе Би, 59 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/?ll=76.944224%2C43.255316&mode=whatshere&whatshere%5Bpoint%5D=76.942754%2C43.255319&whatshere%5Bzoom%5D=17&z=16.52" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div></div>
    <div class="info-con">
    <h6>Our Office:</h6>
    <p>Almaty, Tole bi 59</p>
    <h6>Contacts</h6>
    <p>+7700 303 2004</p>

    </div>
</div>


<app-footer></app-footer>
</div>
</div>
</div>