<header>
    <div class="header-con">
      <a routerLink="../home/" (click)="goHome('/home')"><img src="../../assets/images/logo.png" alt="logo" width="200" height="80" ></a>
    </div>
    <div class="header-con menu">
        <div class="header-menu header-con">
            <div class="header-links">
                <div class="links"> <a routerLink="../about" class="link-text" (click)="goHome('/about')">About Us</a></div>
                <div class="links"> <a routerLink="../destinations"  class="link-text" (click)="goHome('/destinations')">Destination</a></div>
                <div class="links"> <a routerLink="../review"  class="link-text" (click)="goHome('/review')">Reviews</a></div>
                <div class="links"> <a routerLink="../contacts"  class="link-text" (click)="goHome('/contacts')">Contacts</a></div>

            </div>
            <div class="header-auth header-con">
                <div class="auth "><a routerLink="../login" class="link-text auth-text" >Log In</a></div>
                <div class="auth"><a routerLink="../signup" class="link-text auth-text">Sign Up</a></div>
            </div>

        </div>
    </div>

</header>
