<div class="main">
    <div class="main-body">
  <div class="main-back">
<app-header></app-header>
<div class="sign-main">
    <div class="sign-form">
        <form>
            <h6>Registration</h6>
            <div class="form-nm">
                <div><input type="text" placeholder="Name" class=""></div>
                <div><input type="text" placeholder="Surname"></div>
               </div>
               <div class="form-nm1">
               <div class="form-date">
                <div><input type="date" placeholder="Name" class=""></div>
               </div>
               <div class="form-sex"><input type="radio" name="asd"><label>Male</label> <input type="radio" name="asd"><label>Female</label></div>
            </div>
            <div class="form-nm2">
                <div class="form-email"> 
                    <input type="email" placeholder="Email">
                </div>

            </div>
            <div class="form-nm">
                <div><input type="password" placeholder="Password" class=""></div>
                <div><input type="password" placeholder="Confirm"></div>
               </div>
               
               <div class="form-nm3"><div class="form-submit">
                <button>
                    Sign Up
                </button>
               </div>
            </div>

        </form>

    </div>
</div>

<app-footer></app-footer>
</div></div></div>